// Contact Page
#contactBody {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contactContainer {
    width: 70vw;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;

    #contact {
      .boxes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 60vw;
        margin: auto 0;
        margin-bottom: 1.5em;

        div {
          font-size: 2em;
          border: 3px #fff solid;
          width: 50vw;
          max-width: 800px;
          padding: 0.5em 1em;
          margin-bottom: 1em;
          @include easeOut;

          &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
              color: set-text-color($secondary-color);
            }
          }

          &:hover:nth-child(odd) {
            cursor: pointer;
          }

          @include mediaXl {
            font-size: 1.5em;
            margin-bottom: 1em;
          }

          @include mediaLg {
            padding: 0.5em 1em;
            min-width: 60vw;
          }

          @include mediaSm {
            font-size: 1.2em;
            min-width: 75vw;
          }

          @include mediaXs {
            font-size: .8em;
            margin-bottom: .6em;
            min-width: 80vw;
          }
        }
      }     

      @include mediaMd {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    @include mediaXxl {
      max-width: 60vw;
    }

    @include mediaXl {
      max-width: 70vw;
    }

    @include mediaLg {
      max-width: 80vw;
    }

    @include mediaXs {
      max-width: 90vw;
    }
  }

  #main-footer {
    @include mediaXs {
      font-size: .8em;
    }
  }
}


