@import '_config';
@import '_menu';
@import '_projects';

* {
  box-sizing: border-box;
}

body {
  @include background;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 3rem;

    .text-secondary {
      color: $secondary-color;
    }

    @include mediaMd {
      line-height: 1;
      margin-bottom: 0.7em;
      font-size: 2.4em;
    }
  }

  &.sm-heading {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);

    @include mediaMd {
      font-size: 1.2em;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// .text-secondary {
//   color: $secondary-color;
// }

main {
  // max-width: 70vw;
  padding: 4rem;
  // height: 100%; // To prevent the footer comes up
  min-height: calc(100vh - 60px); // Making a sticky footer on the bottom

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  #home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;

      @include mediaSm {
        margin-top: 10vh;
      }
    }
  }

  @include mediaLg {
    padding: 4rem 0;
  }

  @include mediaMd {
    align-items: center;
  }
}

// About Page
.about-container {
  max-width: 80vw;

  #about {  
    max-width: 80vw;

    .text-secondary {
      color: $secondary-color !important;
    }

    .about-info.container {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .about-top.row {
        .col-3 {
          .bio-image {
            width: 250px;
            background-size: top;
            background-position: center;
            border-radius: 50%;
            border: $secondary-color 3px solid;
          }
        }

        .bio.col-8 {
          font-size: 1.3rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .about-bottom {
        .job-1 {
          h3 {
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 0.8em;
          }

          // @include mediaLg {
          //   // width: 50%;
          // }
        }

        .job-1.col-5 {
          width: 48%;
        }

        .job-2 {
          // grid-area: job2;

          h3 {
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 0.8em;
          }

          @include mediaLg {
            width: 50%;
          }
        }

        .job-2.col-5 {
          width: 48%;
        }

        .job {
          background: lighten($primary-color, 5);
          padding: 0.5rem;
          border-bottom: $secondary-color 5px solid;
        }
      }
    }
  }
}

// Work/Projects
#workBody .container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  // background: yellow;

  main {
    @include mediaMd {
      padding: 4rem 0;
    }
  }

  @include mediaLg {
    max-width: 90%;
    // background: pink;
  }

  @include mediaMd {
    max-width: 100%;
    // background: lightblue;
  }
}

.projects {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);

  .item {
    a:nth-child(2) {
      font-size: 0.8em;
    }

    img {
      width: 100%;
      height: 30vh;
      object-fit: fill;
      overflow: hidden;
      border: 3px #fff solid;

      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }

  @include mediaXl {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mediaMd {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mediaSm {
    grid-template-columns: 1fr;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #000;
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

#main-footer {
  a {
    display: inline-block;
  }

  a:hover {
    transform: translate(1px, 1px);
    text-shadow: 1px 1px 4px #fff;
  }
}
